# ignore node files
node_modules/
package-lock.json

# ignore IDEA workspace file
.idea/workspace.xml

# ignore output files
region-graph.json
region-map.json

ex-gyms.tsv
tagged-gyms.tsv
standard-gyms.tsv

gym-counts.txt